* {
    padding: 0%;
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(211, 222, 218);
}

header {
    background-color: rgb(24, 61, 61);
    height: 50px;
    padding: 10px;
}

img {
    width: 50px;
}

legend {
    background-color: #324D61;
}

a.bouton {
    color: white;
    background-color: #899CAB;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border-radius: 50%;
}

a.bouton:hover {
    background-color: #324D61;
}

footer {
    background-color: rgb(24, 61, 61);
    height: 100px;
    padding: 10px;
}

fieldset {
    width: 40%;
    height: 80%;
    text-align: center;
}

h6 {
    text-decoration: underline;
    font-weight: bold;
    font-size: large;
}

select {
    width: 25%;
}

.galImg {
    width: 100px;
    padding-left: 10px;
    padding-right: 10px;
}

.buttonEnd {
    color: white;
    background-color: #899CAB;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    border-radius: 50%;
}

.inFieldset {
    text-align: left;
}

.inFieldset>div {
    padding-top: 40px;
}

#header2 {
    background-color: #324D61;
    height: 50px;
    width: 100%;
}

#middel {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#middel div:nth-of-type(2) {
    flex-grow: 5;
}

#send {
    height: 50px;
    width: 100px;
    background-color: #324D61;
    color: white;
    border-radius: 10px;
}

#divsend {
    align-self: self-end;
    margin-bottom: 40px;
}